.container {
}

.inner {
  composes: container from 'styles/grid.css';
}

.title {
  composes: sectionTitle from 'styles/typography.css';
}

.buttonList {
  composes: listUnstyled from 'styles/list.css';
  display: table;
  width: 100%;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.buttonListItem {
  display: table-cell;
  width: 50%;
  padding: 0 0.5rem;
}
