@import 'styles/variables.css';

.container {
  composes: section from 'styles/grid.css';
}

.inner {
  composes: container from 'styles/grid.css';
}

.title {
  composes: sectionTitle from 'styles/typography.css';
}

.list {
  composes: listUnstyled from 'styles/list.css';
}

.listItem {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px dotted var(--colorGray);
}
