.container {
  composes: section from 'styles/grid.css';
}

.inner {
  composes: container from 'styles/grid.css';
}

.title {
  composes: sectionTitle from 'styles/typography.css';
}

.list {
  composes: listUnstyled from 'styles/list.css';
}

.listItem {
  margin-bottom: 1rem;
}
