@import 'styles/variables.css';

.container {
  color: #fff;
  background-color: var(--colorPrimary);
}

.container a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid var(--colorTextMuted);
}

.container a:focus,
.container a:hover {
  background-color: var(--colorTextMuted);
}

.inner {
  composes: container from 'styles/grid.css';
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.title,
.subtitle {
  margin: 0;
  line-height: 1.2;
  font-weight: bold;
}

.title {
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  color: var(--colorTextMuted);
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid;
  text-transform: uppercase;
}

.description:last-of-type {
  margin: 0;
}
