@import 'styles/variables.css';

.button {
  composes: input from 'styles/form.css';
  cursor: pointer;
  color: #fff;
  background: var(--colorSecondary);
  border-color: transparent;
}

.button:focus,
.button:hover {
  background-color: #e25151;
}

.button[disabled] {
  color: var(--colorSecondary);
  background-color: transparent;
  border-color: var(--colorSecondary);
  opacity: 0.6;
  pointer-events: none;
}

.button [class^="icon-"] {
  margin-right: 0.5rem;
}
