.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.sectionBackground {
  background-color: #eee;
}

.row {
  margin: 0 -0.5rem;
}

.row:before,
.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 0 0.5rem;
}
