@import 'styles/variables.css';

.tipsContainer {
  padding: 1rem;
  border-radius: var(--borderRadius);
  border: 2px dashed var(--colorGray);
}

.tipsTitle {
  margin-bottom: 0.5rem;
}

.tipsList {
  padding: 0;
  margin: 0;
}

.tipsList li {
  list-style-position: inside
}
