.container {
  composes: listUnstyled from 'styles/list.css';
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.item {
  flex: 1 0 0;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border-bottom: 4px solid transparent;
}

.itemActive {
  background-color: #eee;
  border-color: #dadada;
}
