@import 'styles/variables.css';

.item {
  position: relative;
  color: #fff;
  background-color: var(--colorPrimary);
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 1rem 1rem 1.5rem 1rem;
  margin-bottom: 1rem;
}

.actions {
  composes: listUnstyled from 'styles/list.css';
  display: flex;
  position: absolute;
  bottom: 0;
  left: 1rem;
  transform: translateY(0.5rem);
}

.actionsItem {
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.action {
  composes: button from 'styles/button.css';
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.action [class^="icon-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tweetEditor {
  margin-bottom: 1rem;
}
