@import 'styles/variables.css';
@import './normalize.css';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  line-height: 1.4;
  font-size: 1rem;
  color: var(--colorText);
}

p {
  margin: 0 0 1rem 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--colorGray);
}

::-moz-placeholder { /* Firefox 19+ */
  color: var(--colorGray);
}

:-ms-input-placeholder { /* IE 10+ */
  color: var(--colorGray);
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--colorGray);
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

[class^="icon-"]:before {
  display: block;
}
