@import 'styles/variables.css';

.container {
}

.inner {
  composes: container from 'styles/grid.css';
}

.title {
  composes: sectionTitle from 'styles/typography.css';
}

.tweet {
  background-color: #eee;
  padding: 1rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}

.tweetContent {
  font-size: 1.2rem;
}

.tweetImage {
  height: 140px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 0.5rem;
}

.form {
  composes: row from 'styles/grid.css';
}

.formInput,
.formButton {
  composes: column from 'styles/grid.css';
}

.formInput {
  width: 66.6666667%;
}

.formButton {
  width: 33.3333333%;
}

.input {
  composes: input from 'styles/form.css';
}

.button {
  composes: button from 'styles/button.css';
}
