@import 'styles/variables.css';

.container {
}

.inner {
  composes: container from 'styles/grid.css';
}

.title {
  composes: sectionTitle from 'styles/typography.css';
}

.titleStep {
  composes: sectionTitleStep from 'styles/typography.css';
}

.titleStepActive {
  composes: sectionTitleStepActive from 'styles/typography.css';
}

.tweet {
  background-color: #eee;
  padding: 1rem;
  border-radius: var(--borderRadius);
}

.tweetContent {
  font-size: 1.2rem;
}

.tweetImage {
  height: 140px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 0.5rem;
}

.form {
  composes: row from 'styles/grid.css';
  margin-top: 1rem;
}

.formInput,
.formButton {
  composes: column from 'styles/grid.css';
}

.formInput {
  width: 66.6666667%;
}

.formButton {
  width: 33.3333333%;
}

.input {
  composes: input from 'styles/form.css';
}

.button {
  composes: button from 'styles/button.css';
}

.queueItem {
}

.addTweetBlock {
  position: relative;
  margin: 0.5rem 0;
  text-align: center;
}

.addTweetBlock:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-bottom: 2px solid #eee;
  width: 100%;
}

.addTweetButton {
  composes: input from 'styles/form.css';
  cursor: pointer;
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  width: auto;
  color: #eee;
  background-color: #fff;
  padding: 0.2rem 0.6rem;
  border-color: #eee;
  border-radius: 80px;
}

.addTweetButton:focus,
.addTweetButton:hover {
  color: inherit;
  background-color: #eee;
}

.addTweetButton [class^="icon-"] {
  margin-right: 0.2rem;
}

.tipsContainer {
  composes: tipsContainer from 'styles/tips.css';
}

.tipsTitle {
  composes: tipsTitle from 'styles/tips.css';
}

.tipsList {
  composes: tipsList from 'styles/tips.css';
}
