doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Poffer
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans:400,700')
    link(rel='stylesheet', href='https://file.myfontastic.com/Jzd262SVUHKPtVeDLW6dAP/icons.css')
    link(rel='stylesheet', href='/styles.css')
    if googleAnalyticsId
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '!{googleAnalyticsId}', 'auto');
        ga('send', 'pageview');
  body
    #app
    script.
      window.__env__ = !{env};
    script(src='/app.js')
