.container {
}

.inner {
  composes: container from 'styles/grid.css';
}

.title {
  composes: sectionTitle from 'styles/typography.css';
}

.titleStep {
  composes: sectionTitleStep from 'styles/typography.css';
}

.titleStepActive {
  composes: sectionTitleStepActive from 'styles/typography.css';
}

.input {
  composes: input from 'styles/form.css';
}

.button {
  composes: button from 'styles/button.css';
}

.form {
  composes: row from 'styles/grid.css';
}

.formInput,
.formButton {
  composes: column from 'styles/grid.css';
}

.formInput {
  width: 66.6666667%;
}

.formButton {
  width: 33.3333333%;
}
